.button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 50;
    -fx-font-family: 'Courier New', Courier, monospace;
    /* -fx-position: center; */
    /* -fx-text-alignment:center; */
    -fx-alignment: center;
}
.button:hover {
    -fx-text-fill: grey;
  }

/* VBox {
    -fx-alignment: center;
} */
